In [16]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns#Understanding my variables

In [20]:
df = pd.read_csv(r'C:\Users\tamir\OneDrive\√Årea de Trabalho\desenvolvimento\mackenzier\australian_data_analyst_jobs.csv\australian_data_analyst_jobs.csv',sep=',')

In [21]:
#Entenda o dado
print(df.shape)

(500, 8)

In [22]:
df.head()

,company_name,job_title,job_description,job_location/city,job_location/country,job_salary/estimated,job_salary/pay_period,job_posted_date
0,Wesley Mission Queensland,Data And Insights Analyst,Reference Number 15304\nPosition Title Data an...,Australia,australia,False,hourly,2024-01-28T00:00:00
1,Ford Motor Company,Marketing Communications Analyst,"About Us\n\nFord is a family company, one that...",Richmond,australia,True,hourly,2024-02-14T00:00:00
2,Catholic Education Diocese Of Parramatta,Data Analyst,THANK YOU FOR YOUR INTEREST IN APPLYING FOR A ...,Parramatta,australia,True,hourly,2024-01-23T00:00:00
3,Northern Health,Data Analyst,About Northern Health:\n\n\n\n\nAs an organisa...,Australia,australia,False,hourly,2024-02-06T00:00:00
4,The Smith Family (Australia),Policy Analyst,* Become part of our family and make a differe...,Australia,australia,False,hourly,2024-02-15T00:00:00

In [23]:
print(df.columns)

Index(['company_name', 'job_title', 'job_description', 'job_location/city',
       'job_location/country', 'job_salary/estimated', 'job_salary/pay_period',
       'job_posted_date'],
      dtype='object')

In [26]:
df.describe()

,company_name,job_title,job_description,job_location/city,job_location/country,job_salary/estimated,job_salary/pay_period,job_posted_date
count,474,500,500,500,500,500,500,500
unique,286,279,431,70,1,2,1,31
top,Commonwealth Bank Of Australia,Data Analyst,"We are inviting selected students (BA, MS) in ...",Sydney,australia,True,hourly,2024-02-15T00:00:00
freq,20,79,4,164,500,256,500,40

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   company_name           474 non-null    object
 1   job_title              500 non-null    object
 2   job_description        500 non-null    object
 3   job_location/city      500 non-null    object
 4   job_location/country   500 non-null    object
 5   job_salary/estimated   500 non-null    bool
 6   job_salary/pay_period  500 non-null    object
 7   job_posted_date        500 non-null    object
dtypes: bool(1), object(7)
memory usage: 28.0+ KB